html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#root{
  overflow-x: hidden;
}

.btn1{
  border: 2px solid $blanco;
  background: transparent;
  color: $blanco;
  border-radius: .5rem;
  font-family: $fuente_secundaria;
  width: 15rem;
  height: 3rem;
  font-size: 1.2rem;
  cursor: pointer;
  &:hover{
    background-color: $blanco;
    color: $principal;
  }
  @include tablet{
    width: 12rem;
    height: 3rem;
    font-size: 1rem;
  }
}

.btn2{
  border: 1px solid $terciario;
  background: transparent;
  color: $terciario;
  border-radius: .5rem;
  font-family: $fuente_secundaria;
  width: 15rem;
  height: 3rem;
  font-size: 1.2rem;
  cursor: pointer;
  &:hover{
    background-color: $terciario;
    color: $blanco;
  }
  @include tablet{
    width: 12rem;
    height: 2.5rem;
    font-size: 1rem;
  }
}