@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

//Fuentes
$fuente_principal: 'Raleway', sans-serif;
$fuente_secundaria: 'Questrial', sans-serif;

//Tamaños Media Queries

$telefono: 48rem;
$tablet: 65rem;
$desktop:102.4rem;

//Colores

$principal: #362c22;
$secundario: #2a1f1b;
$terciario: #886c54;
$gris: #46433e;
$aux: #dcbeb3;
$blanco: #ffffff;
$negro: #000000;
$success: #85f066;
$warning: #f5d36c;
$error: #f56c6c;