@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;700;800&display=swap');

//Fuentes
$fuente_titulos: 'Qatar2022 Arabic', sans-serif;
$fuente_base: 'Manrope', sans-serif;

//Tamaños Media Queries

$telefono: 48rem;
$tablet: 65rem;
$desktop:102.4rem;

//Colores

$principal: #362c22;
$secundario: #2a1f1b;
$tertiary: #886c54;
$gris: #46433e;
$aux: #dcbeb3;
$blanco: #ffffff;
$negro: #000000;
$success: #85f066;
$warning: #f5d36c;
$error: #f56c6c;