//Bases
@import './base/variables';
@import './base/mixins';
@import './base/normalize';
@import './base/globales';

//layouts
@import '../components/Navbar/Navbar';
@import '../components/HeaderInicio/Header';
@import '../components/HeaderPosada/Header';
@import '../components/Banner/Banner';
@import '../components/San Rafael/SanRafael';
@import '../components/Circuitos/Circuitos';
@import '../components/Ambientes/Ambientes';
@import '../components/Footer/Footer';