//Bases
@import './base/variables';
@import './base/mixins';
@import './base/normalize';
@import './base/globales';

//layouts
@import '../components/Navbar/Navbar';
@import '../components/Header/Header';
@import '../components/San Rafael/SanRafael';
@import '../components/Circuitos/Circuitos';
@import '../components/Footer/Footer';