.header{
    position: relative;
    width: 100vw;
    min-height: 70rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    h2{
        width: 100%;
        font-family: $fuente_principal;
        background-color: $blanco;
        font-size: 10rem;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        padding: 5rem;
        font-weight: 700;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: url('./../../img/nihuil.png');
        @include tablet{
            font-size: 8rem;
        }
        @include telefono{
            font-size: 5rem;
        }
    }
    .circle{
        width: 20rem;
        height: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20rem 20rem 0 0;
        background-image: url('./../../img/nihuil.png');
        .btn1{
            margin-top: 1.5rem;
        }
    }
}