.ambientesContainer{
    height: 100vh;
    display: grid;
    align-content: center;
    justify-items: center;
    .ambientesCarrusel{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 3rem;
        position: relative;
        width: 100vw;
        height: 30rem;
        .ambienteCard{
            display: none;
            transition: all .8s;
            cursor: grab;
            &.selected, &.prev, &.next{
                opacity: 1;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                width: 80%;
                position: absolute;
                top: 0;
                @include tablet{
                    flex-direction: column;
                    width: 60%;
                }
            }
            &.prev{
                left: -60%;
            }
            &.selected{
                left: 10%;
            }
            &.next{
                left: 80%;
            }
            img{
                width: 30rem;
            }
            .ambienteInfo{
                font-family: $fuente_principal;
                h2{
                    font-size: 3rem;
                    text-transform: uppercase;
                    font-weight: 700;
                    color: $principal;
                }
                p{
                    font-size: 1.5rem;
                    font-weight: 300;
                    color: $principal;
                }
            }
        }
    }
    .ambientesIndicadores{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 20rem;
        .indicador{
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 1rem;
            background-color: $terciario;
            cursor: pointer;
            &.selected{
                background-color: $principal;
            }
        }
    }
}