.circuitosSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    .circle{
        width: 20rem;
        height: 10rem;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        border-radius: 0 0 20rem 20rem;
        background-color: $terciario;
        h2{
            font-size: 2rem;
            color: $blanco;
            font-family: $fuente_principal;
            text-align: center;
        }
    }
    .carrusel{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        max-width: 100vw;
        .circuito{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            h3{
                font-family: $fuente_principal;
                font-size: 2rem;
                color: $principal;
                span{
                    font-weight: 900;
                    color: $secundario;
                }
            }
            .lugaresGrid{
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                gap: 3rem;
                .card{
                    width: 30rem;
                    height: 40rem;
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}