.circuitosSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 4rem;
    .circle{
        width: 20rem;
        height: 10rem;
        display: flex;
        justify-content: center;
        border-radius: 0 0 20rem 20rem;
        background-color: $terciario;
        @include tablet{
            align-items: center;
        }
        h2{
            font-size: 2rem;
            color: $blanco;
            font-family: $fuente_principal;
            font-weight: 600;
            text-align: center;
            @include tablet{
                font-size: 1.5rem;
                width: 15rem;
            }
        }
    }
    .carrusel{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        width: 100%;
        margin-bottom: 2rem;
        @include tablet{
            padding: 0 3rem;
            margin: 0;
            gap: 2rem;
        }
        @include telefono{
            padding: 0 .5rem;
        }
        .arrowInvisible,.arrowVisible{
            width: 4rem;
            @include tablet{
                width: 3rem;
            }
        }
        .arrowVisible{
            cursor: pointer;
        }
        .arrowInvisible{
            opacity: .4;
            cursor:no-drop;
        }
        .circuitoContainer{
            width: 70rem;
            height: 50rem;
            position: relative;
            @include tablet{
                width: 50rem;
                height: 40rem;
            }
        }
        .circuito{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            position: absolute;
            top: 0;
            left: 300%;
            width: 100%;
            opacity: 0;
            transition: all 1s;
            -webkit-transition: all 1s;
            -moz-transition: all 1s;
            &.selected{
                left: 0;
                opacity: 1;
            }
            h3{
                font-family: $fuente_principal;
                font-size: 3.5rem;
                color: $principal;
                margin: 3rem 0;
                @include tablet{
                    font-size: 2.5rem;
                }
                @include telefono{
                    font-size: 1.8rem;
                }
                span{
                    font-weight: 900;
                    color: $secundario;
                    text-transform: capitalize;
                }
            }
            .lugaresGrid{
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                gap: 3rem;
                @include tablet{
                    gap: 1rem;
                }
                @include telefono{
                    gap: .5rem;
                }
                .card{
                    width: 20rem;
                    height: 35rem;
                    position: relative;
                    cursor: pointer;
                    transition: all .5s;
                    -webkit-transition: all .5s;
                    -moz-transition: all .5s;
                    @include tablet{
                        width: 15rem;
                        height: 25rem;
                        transition: all .1s;
                        -webkit-transition: all .1s;
                        -moz-transition: all .1s;
                    }
                    @include telefono{
                        width: 8rem;
                    }
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                    .infoCard{
                        background-color: rgba(0, 0, 0, .8);
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        transition: all .5s;
                        padding: 1rem;
                        display: grid;
                        align-content: center;
                        justify-items: center;
                        @include tablet{
                            transition: all .2s;
                        }
                        h4,p,span{
                            font-family: $fuente_principal;
                            color: $aux;
                        }
                        h4{
                            font-size: 2.5rem;
                            font-weight: 700;
                            margin: 0;
                            margin-bottom: 1rem;
                            width: 90%;
                            @include tablet{
                                font-size: 1.5rem;
                            }
                            @include telefono{
                                font-size: 1.2rem;
                            }
                        }
                        p{
                            font-size: 1.3rem;
                            font-weight: 300;
                            width: 80%;
                            @include tablet{
                                font-size: 1rem;
                            }
                            @include telefono{
                                font-size: .8rem;
                            }
                        }
                        span{
                            font-size: 1.5rem;
                            font-weight: 500;
                            width: 80%;
                            @include tablet{
                                font-size: 1.2rem;
                            }
                            @include telefono{
                                font-size: 1rem;
                            }
                        }
                    }
                    &.selected{
                        width: 30rem;
                        @include tablet{
                            width: 20rem;
                        }
                        @include telefono{
                            width: 15rem;
                        }
                        .infoCard{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}