.footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 15rem;
    background-color: $gris;
    font-family: $fuente_principal;
    color: $aux;
    @include tablet{
        flex-direction: column;
        height: 100%;
        gap: 2rem;
        text-align: center;
        padding: 2rem;
    }
    .posadaInfo{
        width: 30rem;
        h3{
            text-transform: uppercase;
            font-family: $fuente_secundaria;
            font-weight: 100;
            span{
                font-family: $fuente_principal;
                font-weight: 800;
                margin: 0;
            }
        }
        p{
            font-weight: 100;
        }
        @include tablet{
            width: 20rem;
        }
    }
    .contacto{
        h3{
            text-transform: uppercase;
            font-weight: 500;
        }
        span{
            font-weight: 100;
        }
    }
    .redes{
        h3{
            text-transform: uppercase;
            font-weight: 500;
        }
        a{
            img{
                margin-left: 1rem;
                width: 3rem;
            }
        }
    }
}