.contactoContainer{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 3rem;
    @include tablet{
        flex-direction: column;
        width: 100%;
    }
    input, textarea{
        padding: .5rem;
        border: 1px solid $aux;
        border-radius: 1rem;
        font-family: $fuente_principal;
        outline: none;
        width: 100%;
    }
    .infoContacto{
        width: 30%;
        font-family: $fuente_principal;
        @include tablet{
            width: 80%;
        }
        h2{
            font-size: 3.5rem;
            font-weight: 800;
            text-transform: uppercase;
            @include tablet{
                text-align: center;
                font-size: 2.8rem;
            }
        }
        p{
            font-size: 1.8rem;
            font-weight: 200;
            @include tablet{
                font-size: 1.4rem;
                text-align: center;
            }
        }
    }
    .contactoForm{
        display: grid;
        align-content: center;
        justify-content: center;
        gap: 2rem;
        padding: 4rem;
        border: 1px solid $principal;
        border-radius: 2rem;
        @include tablet{
            padding: 2rem;
        }
        @include telefono{
            padding: 1rem;
        }
        .contactoInfo{
            display: flex;
            justify-content: space-evenly;
            gap: 3rem;
            @include tablet{
                gap: 2rem;
            }
            @include telefono{
                gap: 1rem;
            }
            .input{
                display: grid;
                align-content: center;
                justify-content: center;
                gap: .5rem;
                width: 12rem;
                height: 5rem;
                @include tablet{
                    width: 10rem;
                }
                @include telefono{
                    width: 8rem;
                }
            }
        }
        .error{
            font-family: $fuente_principal;
            font-size: 1rem;
            color: $error;
            text-align: center;
        }
        label{
            font-size: 1.2rem;
            color: $principal;
            font-family: $fuente_principal;
            @include telefono{
                font-size: 1rem;
            }
        }
    }
}