.contactoContainer{
    width: 100%;
    display: grid;
    align-content: center;
    justify-items: center;
    margin: 3rem;
    input, textarea{
        padding: .5rem;
        border: 1px solid $aux;
        border-radius: 1rem;
        font-family: $fuente_principal;
        outline: none;
    }
    p{
        font-size: 1.6rem;
        font-family: $fuente_principal;
        font-weight: 300;
        text-align: center;
        width: 80%;
    }
    .contactoForm{
        display: grid;
        align-content: center;
        justify-content: center;
        gap: 2rem;
        padding: 4rem;
        border: 1px solid $principal;
        border-radius: 2rem;
        .contactoInfo{
            display: flex;
            justify-content: space-evenly;
            gap: 3rem;
            .input{
                display: grid;
                align-content: center;
                justify-content: center;
                gap: .5rem;
                width: 12rem;
                height: 5rem;
            }
        }
        .error{
            font-family: $fuente_principal;
            font-size: .9rem;
            color: $error;
            text-align: center;
        }
        label{
            font-size: 1.2rem;
            color: $principal;
            font-family: $fuente_principal;
        }
    }
}